.slink-container {
  display: grid;
  grid-template-columns: 100px 150px 500px 150px 100px;
  grid-auto-flow: column;
  gap: 20px;
  padding-inline: 10px;
  border-bottom: 1px solid #a6b3c7;
}

.slink-item {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.slink-container:hover{
  background-color: #f0f0f0
}

.slink-item:nth-child(3) {
  color: black;
  justify-content: start;
}

@media (max-width: 768px) {
  .slink-container{
    grid-template-columns:80px 130px 480px 130px 80px;
    gap: 10px;
  }
  .slink-item {
    font-size: 14px;
  }

  .material-icons-outlined.md-18 {
    font-size: 18px;
  }
}
